@model KLTN.DataModels.Models.News.NewsViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index"> Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-area="Admin" asp-controller="News" asp-action="Index"> Quản lý tin tức</a>
                    </li>
                    <li class="breadcrumb-item active">Chi tiết bài viết</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Chi tiết bài viết</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="ui-admin-width40">
                <h4>
                    <i>@Html.DisplayFor(model => model.Title)</i>
                </h4>
                <br />
                <ul class="list-group list-group-unbordered">

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Nội dung :</b>
                            </div>
                            <div class="col-md-6">
                                <i>@Html.DisplayFor(model => model.Content)</i>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Ngày tạo :</b>
                            </div>
                            <div class="col-md-6">
                                <i>@Html.DisplayFor(model => model.CreateAt)</i>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Tạo bởi :</b>
                            </div>
                            <div class="col-md-6">
                                <i>@Html.DisplayFor(model => model.UpdateBy)</i>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Ngày cập nhật:</b>
                            </div>
                            <div class="col-md-6">
                                <i>@Html.DisplayFor(model => model.UpdateAt)</i>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Cập nhật bởi :</b>
                            </div>
                            <div class="col-md-6">
                                <i>@Html.DisplayFor(model => model.UpdateBy)</i>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Hình ảnh:</b>
                            </div>
                            <div class="col-md-6">
                                <i><img src="~/DataImage/@Html.DisplayFor(model => model.Image)" style="width:100px;height:100px"/></i>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item ">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Trạng thái:</b>
                            </div>
                            <div class="col-md-6">
                                @if(Model.Status==true)
                                {
                                    <i>Đang kích hoạt</i>
                                }
                                else
                                {
                                    <i>Đã khoá</i>
                                }
                            </div>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer ">
        </div>
    </div>
    <!-- /.card -->
</div>

