
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin:auto">
    <h3>Cart Page</h3>
    @if (ViewBag.cart.Count > 0)
    {
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Option</th>
                <th>Id</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Name</td>
                    <td><img src="/@item.Product.Image" width="60" /> </td>
                    <td>@item.Product.CurrentPrice</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.CurrentPrice * item.Quantity)</td>
                </tr>
            }
            <tr>
                <td align="right" colspan="6">Sum</td>
                <td>
                    @ViewBag.total
                </td>
            </tr>
        </table>
        <br>
    }
    else
    {
        <p>Giỏ hàng trống!</p>
    }
    <a asp-controller="Home" asp-action="index">Continue Shopping</a>
</div>