@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Big Const Ecommerce</h2>
                    <p>Luôn sẵn sàng phục vụ</p>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a>Giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Còn lại</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody class="col-md-12">
                        @foreach (var item in ViewBag.cart)
                        {
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/DataImage/@item.Product.Image"
                                             alt="" height="100" width="147" />
                                    </div>
                                    <div class="media-body">
                                        <p>@item.Product.Name</p>
                                        <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Xóa</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>@item.Product.CurrentPrice</h5>
                            </td>
                            <td>
                                <h5 id="inventory-@item.Product.Id">@item.Product.Quantity</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="text"
                                           name="qty"
                                           id="@item.Product.Id"
                                           data-id="@item.Product.Id"
                                           maxlength="6"
                                           value="@item.Quantity"
                                           title="Quantity:"
                                           class="input-text qty inputqty"
                                           style="width:100%" />
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count"
                                            type="button">
                                        <i class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"
                                            class="reduced items-count"
                                            type="button">
                                        <i class="lnr lnr-chevron-down"></i>
                                    </button>
                                </div>
                            </td>
                            <td style="padding-left:0px;padding-right:0px;width:150px">
                                <h5 style="width:100%" id="total-@item.Product.Id">@string.Format(info, "{0:C0}", (item.Product.CurrentPrice * item.Quantity))</h5>
                            </td>
                        </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Tổng tiền</h5>
                            </td>
                            <td style="padding-left:0px;padding-right:0px">
                                <h5 id="subtotal" style="width:100%">@string.Format(info, "{0:C0}", ViewBag.total)</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner">
                                    <a class="gray_btn" asp-controller="Home" asp-action="index">Chọn thêm sản phẩm</a>
                                    <a class="main_btn" asp-controller="Cart" asp-action="Payment">Thanh toán</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
@section scripts
    {
    <script src="~/js/cartjs/cart.js"></script>
}