@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Cart</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="cart.html">Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody class="col-md-12">
                        @foreach (var item in ViewBag.cart)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/@item.Product.Image"
                                                 alt="" height="100" width="147" />
                                        </div>
                                        <div class="media-body">
                                            <p>@item.Product.Name</p>
                                            <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Xóa</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@item.Product.CurrentPrice</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text"
                                               name="qty"
                                               id="@item.Product.Id"
                                               data-id="@item.Product.Id"
                                               maxlength="6"
                                               value="@item.Quantity"
                                               title="Quantity:"
                                               class="input-text qty inputqty"
                                               style="width:100%" />
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                class="increase items-count"
                                                type="button">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;"
                                                class="reduced items-count"
                                                type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td style="padding-left:0px;padding-right:0px;width:150px">
                                    <h5 style="width:100%" id="total-@item.Product.Id">@string.Format(info, "{0:C0}", (item.Product.CurrentPrice * item.Quantity))</h5>
                                </td>
                            </tr>
                        }
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="cupon_text">
                                    <input type="text" placeholder="Coupon Code" />
                                    <a class="main_btn" href="#">Apply</a>
                                    <a class="gray_btn" href="#">Close Coupon</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Tổng tiền</h5>
                            </td>
                            <td style="padding-left:0px;padding-right:0px">
                                <h5 id="subtotal" style="width:100%">@string.Format(info, "{0:C0}", ViewBag.total)</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li>
                                            <a href="#">Flat Rate: $5.00</a>
                                        </li>
                                        <li>
                                            <a href="#">Free Shipping</a>
                                        </li>
                                        <li>
                                            <a href="#">Flat Rate: $10.00</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">Local Delivery: $2.00</a>
                                        </li>
                                    </ul>
                                    <h6>
                                        Calculate Shipping
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </h6>
                                    <select class="shipping_select">
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="4">Pakistan</option>
                                    </select>
                                    <select class="shipping_select">
                                        <option value="1">Select a State</option>
                                        <option value="2">Select a State</option>
                                        <option value="4">Select a State</option>
                                    </select>
                                    <input type="text" placeholder="Postcode/Zipcode" />
                                    <a class="gray_btn" href="#">Update Details</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner">
                                    <a class="gray_btn" asp-controller="Home" asp-action="index">Continue Shopping</a>
                                    <a class="main_btn" href="#">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

<div class="container" style="margin:auto">
    <h3>Cart Page</h3>
    @if (ViewBag.cart.Count > 0)
    {
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Option</th>
                <th>Id</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Name</td>
                    <td><img src="/@item.Product.Image" width="60" /> </td>
                    <td>@item.Product.CurrentPrice</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.CurrentPrice * item.Quantity)</td>
                </tr>
            }
            <tr>
                <td align="right" colspan="6">Sum</td>
                <td>
                    @ViewBag.total
                </td>
            </tr>
        </table>
        <br>
    }
    else
    {
        <p>Giỏ hàng trống!</p>
    }
    <a asp-controller="Home" asp-action="index">Continue Shopping</a>
</div>
@section scripts
    {
    <script src="~/js/cartjs/cart.js"></script>
}