@model Tuple<OrderViewModel, IEnumerable<OrderDetailViewModel>, DeliveryViewModel, int>
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Chi tiết đơn hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.box -->
<div class="col-12">
    <div class="card">
        @*@if (TempData[Constants.UpdateSuccess] != null)
            {
                <h3 class="alert alert-success lisproduct-alert">@TempData[Constants.UpdateSuccess]</h3>
            }*@
        <div class="card-header">
            <div class="col-md-12 row">
                <div class="col-md-12 row">
                    <h3 style="margin:auto; align-content:center; text-align:center"><b>Chi tiết đơn hàng</b></h3>
                </div>
                <div class="col-md-4">
                    <p><strong>Mã đơn hàng: @Model.Item1.Id</strong></p>
                    <p><strong>ID người mua: @Model.Item1.CreateBy</strong></p>
                    <p><strong>Thời gian mua: @Model.Item1.CreateAt</strong></p>
                    <p><strong>Tổng tiền: @Model.Item1.TotalPrice</strong></p>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="card-body box-body table-responsive">
            @*<p class="text-right">
                    <a asp-area="Admin" asp-controller="Product" class="btn btn-primary">Thêm mới sản phẩm</a>
                </p>*@
            <table id="order-detail" class="table table-bordered columns-align-center table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id đơn hàng</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Item2)
                    {
                        <tr>
                            <td>@item.OrderId</td>
                            <td>@item.ProductName</td>
                            <td><img src="/DataImage/@item.Image " style="width:100px; height:70px" /></td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.TotalPrice</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="margin:auto">
                    <h3><b>Chi tiết giao hàng</b></h3>
                    <div class="card-tools">
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nhiệm vụ</th>
                                <th>Người thực hiện</th>
                                <th>Thời gian bắt đầu</th>
                                <th>Thời gian hoàn thành</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Xác thực đơn hàng</td>
                                <td>@Model.Item3.UserConfirmEmail</td>
                                <td>@Model.Item3.ConfirmAt</td>
                                <td>@Model.Item3.ConfirmAt</td>
                                @if (Model.Item1.StatusOrder >= 1)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã hoàn thành
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Chưa hoàn thành
                                        </span>
                                    </td>
                                }
                                <td></td>

                                @if (Model.Item1.StatusOrder == 0)
                                {
                                    <td>
                                        <a href="/Admin/Order/ConfirmOrder/@Model.Item1.Id">Xác nhận đơn hàng</a>`
                                    </td>
                                }else{
                                    <td></td>
                                }

                            </tr>
                            <tr>
                                <td>Chuẩn bị đơn hàng</td>
                                <td>@Model.Item3.UserPreparingOrderEmail</td>
                                <td>@Model.Item3.PreparingOrderAt</td>
                                <td>@Model.Item3.FinishPreparingOrderAt</td>
                                @if (Model.Item1.StatusOrder >= 2)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã hoàn thành
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Chưa hoàn thành
                                        </span>
                                    </td>
                                }
                                <td></td>
                                @if (Model.Item1.StatusOrder == 0)
                                {
                                    <td>
                                        <a asp-action="ConfirmOrder" asp-controller="OrderController" asp-route-id="@Model.Item1.Id">Xác nhận đơn hàng</a>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                <td>Giao hàng</td>
                                <td>@Model.Item3.ShipperEmail</td>
                                <td>@Model.Item3.StartDeliveryAt</td>
                                <td>@Model.Item3.FinishDeliveryAt</td>
                                @if (Model.Item1.StatusOrder >= 3)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã hoàn thành
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Chưa hoàn thành
                                        </span>
                                    </td>
                                }
                                <td></td>
                                @if (Model.Item1.StatusOrder == 0)
                                {
                                    <td>
                                        <a asp-action="ConfirmOrder" asp-controller="OrderController" asp-route-id="@Model.Item1.Id">Xác nhận đơn hàng</a>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                <td>Huỷ đơn hàng</td>
                                <td>@Model.Item3.CancelByEmail</td>
                                <td>@Model.Item3.CancelOrderAt</td>
                                <td>@Model.Item3.CancelOrderAt</td>
                                @if (Model.Item1.StatusOrder >= 4)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã huỷ
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                        </span>
                                    </td>
                                }
                                <td></td>
                                @if (Model.Item1.StatusOrder == 6)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        <a asp-action="CancelOrder" asp-controller="OrderController" asp-route-id="@Model.Item1.Id">Huỷ đơn hàng</a>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.box -->

@section scripts
    {
    <script src="~/lib/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/datetime-moment/datetime-moment.js" asp-append-version="true"></script>
    <script>
        $.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
        $.fn.dataTable.moment("DD/MM/YYYY");

        $("#order-detail").DataTable();
    </script>
}

