@model Tuple<OrderViewModel, IEnumerable<OrderDetailViewModel>, DeliveryViewModel, int>
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Chi tiết đơn hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.box -->
<div class="col-12">
    <div class="card">
        @*@if (TempData[Constants.UpdateSuccess] != null)
            {
                <h3 class="alert alert-success lisproduct-alert">@TempData[Constants.UpdateSuccess]</h3>
            }*@
        <div class="card-header">
            <div class="col-md-12 row">
                <div class="col-md-12 row">
                    <h3 style="margin:auto; align-content:center; text-align:center"><b>Chi tiết đơn hàng</b></h3>
                </div>
                <div class="col-md-4">
                    <p><strong>Mã đơn hàng: @Model.Item1.Id</strong></p>
                    <p><strong>ID người mua: @Model.Item1.CreateBy</strong></p>
                    <p><strong>Thời gian mua: @Model.Item1.CreateAt</strong></p>
                    <p><strong>Địa chỉ giao hàng: @Model.Item1.RecipientAddress , @Model.Item1.RecipientPrecinctName , @Model.Item1.RecipientDistrictName , @Model.Item1.RecipientProvinceName</strong></p>
                    <p><strong>Tổng tiền: @string.Format(info, "{0:C0}", @Model.Item1.TotalPrice)</strong></p>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="card-body box-body table-responsive">
            @*<p class="text-right">
                    <a asp-area="Admin" asp-controller="Product" class="btn btn-primary">Thêm mới sản phẩm</a>
                </p>*@
            <table id="order-detail" class="table table-bordered columns-align-center table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id đơn hàng</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Item2)
                    {
                        <tr>
                            <td>@item.OrderId</td>
                            <td>@item.ProductName</td>
                            <td><img src="/DataImage/@item.Image " style="width:100px; height:70px" /></td>
                            <td>@string.Format(info, "{0:C0}", @item.Price)</td>
                            <td>@item.Quantity</td>
                            <td>@string.Format(info, "{0:C0}", @item.TotalPrice)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="margin:auto">
                    <h3><b>Chi tiết giao hàng</b></h3>
                    <div class="card-tools">
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <div>
                        <h4 class="text-danger" style="padding-left:25px">Lời nhắc: @ViewBag.ErrorMessage</h4>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nhiệm vụ</th>
                                <th>Người thực hiện</th>
                                <th>Thời gian bắt đầu</th>
                                <th>Thời gian hoàn thành</th>
                                <th>Trạng thái</th>
                                <th>Ghi chú</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Xác thực đơn hàng</td>
                                <td>@Model.Item3.UserConfirmEmail</td>
                                @if (Model.Item3.ConfirmAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.ConfirmAt
                                    </td>
                                }
                                @if (Model.Item3.ConfirmAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.ConfirmAt
                                    </td>
                                }
                                @if (Model.Item1.StatusOrder >= 1 && Model.Item1.StatusOrder < 6)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã xác thực
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Chưa xác thực
                                        </span>
                                    </td>
                                }
                                <td></td>

                                @if (Model.Item1.StatusOrder == 0 && User.IsInRole("Admin") || Model.Item1.StatusOrder == 0 && User.IsInRole("Manager"))
                                {
                                    <td>
                                        <a href="/Admin/Order/ConfirmOrder/@Model.Item1.Id">Xác nhận đơn hàng</a>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }

                            </tr>
                            <tr>
                                <td>Chuẩn bị đơn hàng</td>
                                <td>@Model.Item3.UserPreparingOrderEmail</td>
                                @if (Model.Item3.PreparingOrderAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.PreparingOrderAt
                                    </td>
                                }
                                @if (Model.Item3.FinishPreparingOrderAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.FinishPreparingOrderAt
                                    </td>
                                }
                                @if (Model.Item1.StatusOrder == 2)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đang chuẩn bị
                                        </span>
                                    </td>
                                }
                                else if (Model.Item1.StatusOrder >= 3 && Model.Item1.StatusOrder < 6)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã hoàn thành
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Chưa xử lý
                                        </span>
                                    </td>
                                }
                                <td></td>
                                @if (Model.Item1.StatusOrder == 1 && User.IsInRole("WareHouseStaff"))
                                {
                                    <td>
                                        <a asp-action="StartPrepareOrder" asp-controller="Order" asp-route-id="@Model.Item1.Id">Chuẩn bị đơn hàng</a>
                                    </td>
                                }
                                else if (Model.Item1.StatusOrder == 2 && User.IsInRole("WareHouseStaff"))
                                {
                                    <td>
                                        <a asp-action="FinishPrepareOrder" asp-controller="Order" asp-route-id="@Model.Item1.Id">Chuẩn bị hoàn tất</a>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                <td>Giao hàng</td>
                                <td>@Model.Item3.ShipperEmail</td>
                                @if (Model.Item3.StartDeliveryAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.StartDeliveryAt
                                    </td>
                                }
                                @if (Model.Item3.FinishDeliveryAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.FinishDeliveryAt
                                    </td>
                                }
                                @if (Model.Item1.StatusOrder == 4)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đang chuẩn bị
                                        </span>
                                    </td>
                                }
                                else if (Model.Item1.StatusOrder == 5)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã hoàn thành
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Chưa xử lý
                                        </span>
                                    </td>
                                }
                                <td></td>
                                @if (Model.Item1.StatusOrder == 3 && User.IsInRole("Shipper"))
                                {
                                    <td>
                                        <a asp-action="StartDeliveryOrder" asp-controller="Order" asp-route-id="@Model.Item1.Id">Nhận giao hàng</a>
                                    </td>
                                }
                                else if (Model.Item1.StatusOrder == 4 && User.IsInRole("Shipper"))
                                {
                                    <td>
                                        <a asp-action="FinishDeliveryOrder" asp-controller="Order" asp-route-id="@Model.Item1.Id">Đã hoàn thành</a>
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                            <tr>
                                <td>Huỷ đơn hàng</td>
                                <td>@Model.Item3.CancelByEmail</td>
                                @if (Model.Item3.CancelOrderAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.CancelOrderAt
                                    </td>
                                }
                                @if (Model.Item3.CancelOrderAt.Year <= DateTime.MinValue.Year)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Model.Item3.CancelOrderAt
                                    </td>
                                }
                                @if (Model.Item1.StatusOrder >= 4)
                                {
                                    <td>
                                        <span class="tag tag-success">
                                            Đã huỷ
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="tag tag-success">
                                        </span>
                                    </td>
                                }
                                <td>@Model.Item3.CancelContent</td>
                                @if (Model.Item1.StatusOrder >= 5)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        <a href="#myDiv" onclick="OnClickToShow()">Huỷ đơn hàng</a>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <div id="myDiv" style="display:none">
                <textarea id="contentCancel" placeholder="Vui lòng nhập lý do huỷ đơn hàng tại đây." style="width:100%" onkeyup="myFunction()"></textarea>
                <div id="submit-btn"></div>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.box -->

@section scripts
    {
    <script src="~/lib/moment/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/datetime-moment/datetime-moment.js" asp-append-version="true"></script>
    <script>
        $.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
        $.fn.dataTable.moment("DD/MM/YYYY");

        $("#order-detail").DataTable();
    </script>
    <script>
        function OnClickToShow() {
            var x = document.getElementById("myDiv");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction() {
            var id = @Model.Item1.Id;
            var content = document.getElementById("contentCancel").value;
            var html = '<a href="/Admin/Order/CancelOrder/?id=' + id + '&content=' + content + '"> Gửi</a>';
            document.getElementById('submit-btn').innerHTML = html;
        }
    </script>
}

